<div class="row">
  <div class="col-sm-12 mt-4">
    <app-error></app-error>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 mb-4">
    <app-search (searchItemEmitter)='onSearchItemChange($event)'></app-search>
  </div>
  <div *ngFor="let playlist of featuredPlayLists | playListsFilter:searchItem"
       [ngClass]="{
        'col-sm-12': playlist.message,
        'col-sm-4': !playlist.message
       }">

    <div *ngIf="playlist.message" class="alert alert-info" role="alert">
      {{playlist.message}}
    </div>

    <app-playlist-preview *ngIf="!playlist.message"
                          [playListInfo]="playlist">
    </app-playlist-preview>
  </div>
</div>
